.wrapper__head {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  align-items: flex-start;
  margin: 50px auto;
  max-width: 35rem;
  padding: 1rem;
  background-color: #eae0d9;
  /* https://colorhunt.co/palette/f8ede3dfd3c3d0b8a885586f */
}

.head__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.head__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.head__input input {
  width: 100%;
  margin-top: 5px;
}
