.wrapper__head {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  margin: 50px auto;
  max-width: 35rem;
  padding: 1rem;
  background-color: #eae0d9;
  /* https://colorhunt.co/palette/f8ede3dfd3c3d0b8a885586f */
}
.forAdd {
  align-items: center;
}

form {
  width: 100%;
}

.head__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.head__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.head__input input {
  width: 100%;
  margin-top: 5px;
}

.head__input.inValidName label,
.head__input.inValidAge label {
  color: rgb(239, 109, 109);
}

.head__input.inValidName input,
.head__input.inValidAge input {
  background-color: rgb(251, 160, 160);
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.button__wannaAdd {
  width: 60%;
  font-size: 1rem;
}
.button__wannaAdd:hover {
  width: 62%;
  height: 22px;
}
